:root {
  --panel-background: lightblue;
  --active-background: white;
  --highlight-background: yellow;
  --value-background: lightgray;
  --value-separator: gray;
  --value-changed: palevioletred;
  --tooltip-color: lightgreen;
  --text-unimportant: gray;
  --padding: 8px;
}

body {
  font-family: mono;
  font-size: small;
}
p {
	margin-bottom:0;
}
h1, h2, h3, h4, h5, h6 {
	margin-top:0;
}
h4 {
  margin-top:0.25em;
  margin-bottom: 0;
  height: 2.25em;
  text-align: center;
}
iframe {
  position: absolute;
  display: none;
  visibility: hidden;
}
nav {
  padding: 2px;
  background-color: var(--value-background);
}

#rootContainer {
  display: grid;
  grid-template-columns: 40em 1fr;
  grid-gap: var(--padding);
}
div.sidebyside {
  display:flex;
}

table {
	table-layout: fixed;
  margin-top: var(--padding);
  border-collapse: collapse;
  border: 2px solid black;
	background-color: var(--panel-background);
}
th, td {
	padding: 2px var(--padding);
}
thead>tr:first-child>th {
  padding-top: 4px;
}
tbody>tr:last-child>td {
  padding-bottom: var(--padding);
}
table.hardware {
  width: 100%;
}
table.hardware div.value {
	float: left;
}
div.value {
	float: right;
  border: 1px solid var(--value-separator);
  border-radius: 4px;
  background-color:var(--value-background);
}
div.info {
	display: none;
	position:absolute;
	top: 90%; left: 50%;
	width: 20em;
	border: 1px solid black;
	padding: var(--padding);
	background-color: var(--tooltip-color);
	opacity: 0.9;
	z-index:1;
	font-size:small;
}
div.info ul {
  margin: var(--padding) 0 0;
  padding: 0;
  list-style-type: none;
}
div.value span:hover>div.info {
	display:block;
}
div.value span {
	position:relative;
  padding: 1px;
}
div.value span:not(.padding) {
	border-right: 1px solid var(--value-separator);
}
div.value span:last-child {
  border-right: none;
}
div.value span.padding {
  margin-left:-2px;
  padding-left:0;
  letter-spacing: 3px;
}
div.value span.changed {
  background-color: var(--value-changed);
}
div.value span.group {
	padding: 0;
  margin-right: -1px;
  border-right: 1px solid var(--value-separator);
}
div.value span.u {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 1 1'><line x1='0' y1='0' x2='1' y2='1' stroke='gray' vector-effect='non-scaling-stroke'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

div.memory {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 5em 15em 6em;
  grid-auto-rows: 2.5em 1fr;
  margin: var(--padding) 0 0 var(--padding);
  border: 2px solid black;
  background-color: var(--panel-background);
}
div.memory div.addressContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background: var(--value-background);
}
#address {
  width: 3em;
  font-size: small;
  text-align: right;
}
div.memory div.addresses {
  grid-row: 2;
  padding: 4px;
  background-color: var(--value-background);
  text-align: right;
}
div.memory div.ascii {
  grid-row: 2;
  border-left: 2px solid var(--value-background);
  padding: 4px;
  background-color: var(--active-background);
  white-space: nowrap;
}
div.memory div.hex {
  grid-row: 2;
  padding: 4px;
  background-color: var(--active-background);
  white-space: nowrap;
}

div.disassembly {
  margin-top: var(--padding);
  border: 2px solid black;
  background-color: var(--panel-background);
}
div.disassembly div.window {
  overflow: hidden;
  padding: 0 var(--padding) var(--padding) 0;
  white-space: pre;
}
div.disassembly span.instruction {
  display: inline-block;
  width: 16ch;
}
div.disassembly span.bytes {
  color: var(--text-unimportant);
}
div.disassembly ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--value-background);
}
div.disassembly li {
  position: relative;
  background-color: var(--active-background);
}
div.disassembly li.pc {
  background-color: var(--highlight-background);
}
div.disassembly li::before {
  margin-right: var(--padding);
  padding: 0 var(--padding) 0 calc(1ch + 3 * var(--padding));
  content: attr(data-address);
  background-color: var(--value-background);
}
input.disassemblyButton {
  cursor: pointer;
  width: 1ch;
  height: 1ch;
  visibility: hidden;
  vertical-align: middle;
  margin: 0 var(--padding) 0 0;
  border: none;
  padding: 0.5em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;  
  background-size: 100% 100%;
}
div.disassembly li:hover input.disassemblyButton {
  visibility: visible;
}
input.disassemblyButton:focus {
  outline: none;
}
input.disassemblyButton::-moz-focus-inner {
  border: 0;
}
input.breakpoint {
  position: absolute;
  bottom: 0;
  left: calc(1px + var(--padding));
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 1 1'><polygon fill='red' points='0.29,0 0.71,0 1,0.29 1,0.71 0.71,1 0.29,1 0,0.71 0,0.29'/></svg>");
  opacity: 0.5;
}
input.breakpoint.set {
  visibility: visible;
  opacity: 1;
}
input.runTo {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 14 14'><polygon fill='green' points='2,2 5,2 5,12 2,12'/><polygon fill='green' points='7,2 12,7 7,12'/></svg>");
}
