body {
  font-family: mono;
  font-size: small;
}
p {
	margin-bottom:0;
}
h1, h2, h3, h4, h5, h6 {
	margin-top:0;
}
iframe {
  position: absolute;
  display: none;
  visibility: hidden;
}
nav {
  background-color: lightgrey;
  padding: 2px;
}
table {
  margin-top: 8px;
	table-layout:fixed;
	background-color: lightblue;
  border-collapse: collapse;
  border: 2px solid black;
  padding-bottom: 4px;
}
th, td {
	padding: 2px 8px;
}
thead>tr:first-child>th {
  padding-top: 4px;
}
tbody>tr:last-child>td {
  padding-bottom: 8px;
}
table.hardware td {
	width: 7em;
}
table.hardware div.value {
	float: left;
}
div.value {
	float: right;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
}
div.info {
	display: none;
	position:absolute;
	left: 50%;
	top: 90%;
	background: lightgreen;
	padding: 8px;
	border: 1px solid black;
	width: 20em;
	font-size:small;
	opacity: 0.9;
	z-index:1;
}
div.info ul {
  list-style-type: none;
  padding: 0;
  margin: 8px 0 0;
}
div.value span:hover>div.info {
	display:block;
}
div.value span {
	position:relative;
  padding: 1px;
}
div.value span:not(.padding) {
	border-right: 1px solid gray;
}
div.value span.padding {
  letter-spacing: 3px;
  padding-left:0;
  margin-left:-2px;
}
div.value span.changed {
  background-color: palevioletred;
}
div.value span.group {
	padding: 0;
  border-right: 1px solid gray;
  margin-right: -1px;
}
div.value span.u {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 1 1'><line x1='0' y1='0' x2='1' y2='1' stroke='gray' vector-effect='non-scaling-stroke'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

div.sidebyside {
  display:flex;
}
div.memory {
  flex-grow: 1;
  margin: 8px 0 0 8px;
  border: 2px solid black;
}
div.memory div.dataArea {
  display: grid;
  grid-template-columns: 7em 30em 8em;
}
div.memory div.dataArea div {
  padding: 4px;
}
div.memory div.dataArea div.addresses {
  background-color: lightgray;
  text-align: right;
}
div.memory div.dataArea div.ascii {
  border-left: 2px solid lightgray;
  white-space: nowrap;
}
div.memory nav label {
  margin-left: 2em;
}
